
body {
    background-image: url(back.png);
                
}

button.ghostbutton  {
    display: block;
    box-sizing: border-box;
    margin-left: 81px;
    padding: 8px;
    width: 150px;
    max-width: 200px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    display: inline-block;
    
  }

  button.ghostbutton:hover{
    background: #FF6347;
  }

div#log {
    width: 700px;
    height: 500px;
    /* margin: 0 auto; */
    margin-left: 320px;
    border: 5px solid rgba(160, 167, 62, 0.5);
    border-radius: 7px;
    background-image: url(textura-papel-antigo.png);
   /* display: inline-block;*/
    overflow-y: scroll;
    float: left;
}



div#sendCtrls {
    width: 180px;
}

button#sendMsg {
    margin-left: 558px;
}

input#text {
    margin-left: 526px;
}

button.knopka {
    width: 226px;
    color: #fff;
    background: #FFA500;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FF8247;
    padding: 10px;
} 

button.knopka:hover { 
	background: #FF6347; 
}

input[id=text]{
    width: 270px;
    padding: 10px;
    margin-left: 533px;
}

div#emoji {
    display: inline-block;
}