
body {
    background-image: url(back.png);
                
}

button.ghostbutton  {
    display: block;
    box-sizing: border-box;
    margin-left: 135 px;
    margin-left: 167px;
    padding: 8px;
    width: 150px;
    max-width: 200px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    display: inline-block;
    
  }

  button.ghostbutton:hover{
    background: #FF6347;
  }

div#sendCtrls {
    width: 180px;
    margin: 0 auto;
}

button.knopka {
    width: 226px;
    color: #fff;
    background: #FFA500;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FF8247;
    padding: 10px;
} 

button.knopka:hover { 
	background: #FF6347; 
}


h1.text-shadow-2 {
    height: 150px;
    font-size: 50px;
    text-align: center;
}
        .text-shadow-2 {
  color: #f4f4f4;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
}

input[id=login]{
    width: 270px;
    padding: 10px;
    margin-left: 533px;
    display: inline-block;
}
input[id=password]{
    width: 270px;
    padding: 10px;
    margin-left: 533px;
    display: inline-block;
}

input[id=name]{
    width: 270px;
    padding: 10px;
    margin-left: 533px;
    display: inline-block;
}

button#signIn {
    margin-left: 451px;
}

h1.text-shadow-2 {
    height: 150px;
    font-size: 50px;
    text-align: center;
}
        .text-shadow-2 {
  color: #f4f4f4;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
}

div#pass {
    /* margin: 131px; */
    color: red;
    display: inline-block;
}
div#nam {
    color: red;
    display: inline-block;
}
div#log {
    color: red;
    display: inline-block;
}